<!DOCTYPE html>
<html>
<head>
  <title>MyProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= nav_bar static: :top do %>
    <%= menu_group pull: :right do %>
      <% if current_user %>

          <%= menu_item 'Выйти', destroy_user_session_path, :method => :delete %>
          <%= menu_item 'Личный кабинет', girl_path(current_user.id) %>
      <% else %>
          <%= menu_item 'Войти на сайт', new_user_session_path %>
      <% end %>
    <% end %>
  <% end %>
</head>
<body>
<%= bootstrap_flash %>

<%= yield %>

</body>
</html>
